*{
    background-color: green;
    margin: 0;
    padding: 0;
}
body {
    color: orange;
    font-size: 100%;
    opacity: 2.5;
    width: 100%;
}
nav {
    width: 80%;
    background-color: green;
}
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
}
nav ul {
    width: 100%;
} 
nav li {
    display: block;
 /*   float: left; */
    width:80%;
    padding:5px 10px;
    background-color: orange;
    border:1px solid blue;
    text-align:center;
    color:#fff;
}
nav li:hover{
    background-color:#fff;
    color:#000;
}
h1 {
    color: red;
    width: 100 px;
    text-align: center;
    position: relative;
    font-size: black;
    font-family: fantasy;   
}
h1:hover {
    color: blue;
    background-color: chartreuse;
    text-align: center;
    font-size: black;
}
h2 {
    color: red;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: black;
    font-family: fantasy;  
}
h2:hover {
    color: blue;
    background-color: chartreuse;
    text-align: center;
    font-size: black;
}
h3 { color: red;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: black;
    font-family: fantasy;  
}
.avatar {
width: 90px;
height: 85px;
margin: 0px 0px 10px 10px;
border-radius: 50px;
border: 1px solid #B3B3B3;
box-shadow: 2 2px 3px black;
}
p {
    position: relative;
    block-size: auto;
    font-weight: bold;
    display: grid block;
    text-align: left;
}
p:hover {
    color: blue;
    background-color: chartreuse;
    text-align: center;
    font-size: black;
}
.fondo {
    width: 300px;
    height: 300px;
}
.Videos{
    display: block;
    width: 250px;
    height: 250px; 
    margin: auto;
}
.iframe {
    align-items: center;
}
.img {
    width: 50px;
    height: 50px;
    position: absolute;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 60px) / auto-flow 80px;
    width: 50px;
    height: 50px;
}
.container > div {
    background-color: #8ca0ff;
    width: 50px;
    height: 50px;
}